<template>
    <tr>
        <td>
            {{index}}.
        </td>
        <td>
            <input type="text" class="form-control" name="ean" debounce="500" v-model="card.ean">
        </td>
        <td>
            <i class="glyphicon glyphicon-ok-circle" style="color: green; font-size: 20px;" v-if="barCodeOk"></i>
            <i class="glyphicon glyphicon-alert" style="color: red; font-size: 20px;" v-if="!barCodeOk"></i>
        </td>
        <td>
            <input type="text" class="form-control" name="amount" debounce="500" v-model="card.code">
        </td>
        <td>
            <input type="text" class="form-control" name="unit" debounce="500" v-model="card.amount">
        </td>
        <td>
            <input type="text" class="form-control" name="unit" debounce="500" v-model="card.unit">
        </td>
        <td>
            <input type="text" class="form-control" name="conversion" v-model="conversion">
        </td>
        <td>
            <input type="text" class="form-control" name="conversion_price" v-model="conversionPrice">
        </td>
        <td>
            <input type="text" class="form-control" name="title" debounce="500" v-model="card.title">
        </td>
        <td>
            <input type="text" class="form-control" name="price" debounce="500" v-model="card.price">
        </td>
        <td>
            <button class="btn btn-danger" @click.prevent="remove(card)">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
        </td>
    </tr>
</template>

<script>
    import cardStore from '../stores/cardStore';
    var codes = require("rescode");
    const PouchDB = require('pouchdb/dist/pouchdb');
    var db = new PouchDB('cards');

    var factors = {
        'l': 1,
        'ml': 1000, // ml => l
        'g': 1000 // g => kg
    }
    export default {
        props: ['card', 'index'],
        ready() {
            this.searchByEan();
        },
        watch: {
            'card.price': function (newValue, oldValue) {
                this.saveCard();
            },
            'card.ean': function (newValue, oldValue) {
                this.searchByEan();
                this.computeBarcode();
            }
        },
        data() {
            return {
                cardStore: cardStore
            }
        },
        methods: {
            saveCard() {
                var vm = this;
                console.log(vm.card);
                db.put(vm.card).then(function (response) {
                    console.log(response);
                    var _rev = response.rev;
                    vm.card['_rev'] = _rev;
                }).catch(function (error) {
                    console.error(error);
                });
            },
            computeBarcode() {
                var ean = this.card.ean;
                if (ean == null) {
                    return '';
                }
                codes.loadModules(["ean2", "ean5", "ean8", "ean13"], {height: 0.5, includetext: true});

                var eanVersion = null;
                switch (ean.length) {
                    case 8:
                        eanVersion = 'ean8';
                        break;
                    case 13:
                        eanVersion = 'ean13';
                        break;
                }
                if (eanVersion != null) {
                    var data = codes.create(eanVersion, ean);

                    this.card.barCode = data.toString('base64');

                    return data.toString('base64');
                }
                return false;
            },
            searchByEan() {
                var vm = this;
                var ean = vm.card.ean;

                console.log("searching by ean " + ean);

                db.query('ean/by_ean', {
                    startkey: ean,
                    endkey: ean + '\uffff',
                    include_docs: true
                }).then(function (result) {
                    console.log(result, result.rows.length);
                    if (result.rows.length == 1) {
                        vm.card = result.rows[0].doc;
                    }
                }).catch(function (err) {
                    throw err;
                });
            },
            remove(card) {
                this.cardStore.cards.$remove(card)
            }
        },
        computed: {
            conversion() {
                var vm = this;
                var amount = vm.card.amount != null ? vm.card.amount.replace(',', '.') : 0;
                var unit = vm.card.unit;

                if (amount == null) {
                    return '';
                }

                var factor = factors[unit];
                if (typeof factor != 'undefined') {
                    var result = amount / factor;
                    this.card.conversion = result;

                    return result;
                }
                this.card.conversion = 'Error';
                return 'Error';
            },
            conversionPrice() {
                var vm = this;
                var amount = vm.card.amount != null ? vm.card.amount.replace(',', '.') : 0;
                var unit = vm.card.unit;
                var price = vm.card.price.replace(',', '.');

                if (amount == null) {
                    return '';
                }

                var pricePerUnit = price / amount;
                var factor = factors[unit];
                if (typeof factor != 'undefined') {
                    var result = pricePerUnit * factor
                    this.card.conversionPrice = result;
                    return result;
                }
                this.card.conversionPrice = 'Error';
                return 'Error';
            },
            barCode() {
                var ean = this.card.ean;
                if (ean == null) {
                    return '';
                }
                codes.loadModules(["ean2", "ean5", "ean8", "ean13"], {height: 0.5, includetext: true});

                var eanVersion = null;
                switch (ean.length) {
                    case 8:
                        eanVersion = 'ean8';
                        break;
                    case 13:
                        eanVersion = 'ean13';
                        break;
                }
                if (eanVersion != null) {
                    var data = codes.create(eanVersion, ean);

                    this.card.barCode = data.toString('base64');

                    return data.toString('base64');
                }
                return false;
            },
            barCodeOk() {
                return ( this.card.ean.length == 8 || this.card.ean.length == 13 )
            },
            checkBarCode() {
                if (this.card.ean == null) {
                    return false;
                } else {
                    return true;
                }
            }
        }
    }
</script>