<template>
    <div class="search-db">
        <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">
            <i class="glyphicon glyphicon-search"></i>
        </span>
            <input type="text" class="form-control" v-model="fulltext" debounce="500" placeholder="Hledejte produkty"
                   aria-describedby="sizing-addon1">
        </div>
        <div v-if="results.length > 0" class="row col-md-12 search-results-container">
            <div class="col-md-5">
                <ul class="search-results">
                    <li v-for="result in results">
                        <span>{{result.doc.title}}</span>
                        <button class="btn btn-xs btn-success" @click="addToPrint(result.doc)">Přidat k tisku
                        </button>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <button class="btn btn-default" @click="addAllToPrint()" id="add-all-to-print">Přidat vše k
                    tisku
                </button>
            </div>
        </div>
    </div>
</template>

<style scoped>
    .search-db {
        margin-bottom: 20px;
    }
    .search-results-container {
        width: 100%;
        height: auto;

        margin: 15px;
    }

    .search-results-container .search-results {
        list-style: none;
        padding: 0px;
    }

    .search-results-container .search-results li {
        widht: 100%;
        height: 35px;
        padding: 10px 0px 10px 0px;
    }

    .search-results-container .search-results li span {
        text-align: left;
        width: 70%;
    }

    .search-results-container .search-results li button {
        float: right;
        width: 29%;
    }
</style>

<script>
    import cardStore from '../stores/cardStore'
    const PouchDB = require('pouchdb/dist/pouchdb');
    PouchDB.plugin(require('pouchdb-quick-search'));
    var db = new PouchDB('cards');

    export default {
        watch: {
            'fulltext': function (newValue, oldValue) {
                this.search();
            }
        },
        data() {
            return {
                cardStore: cardStore,
                fulltext: '',
                results: []
            }
        },
        methods: {
            search() {
                var vm = this;
                if (vm.fulltext != '') {
                    db.query('title_index_lowercase/by_title', {
                        startkey: vm.fulltext.toLowerCase(),
                        endkey: vm.fulltext.toLowerCase() + '\uffff',
                        include_docs: true
                    }).then(function (result) {
                        console.log(result);
                        if ( result.rows.length == 0 ) {
                            db.query('ean/by_ean', {
                                startkey: vm.fulltext,
                                endkey: vm.fulltext + '\uffff',
                                include_docs: true
                            }).then(function (result) {
                                console.log(result);
                                vm.$set('results', result.rows);
                            }).catch(function (err) {
                                throw err;
                            });
                        }
                        vm.$set('results', result.rows);
                    }).catch(function (err) {
                        throw err;
                    });
                } else {
                    vm.$set('results', []);
                }
            },
            addToPrint(doc) {
                this.cardStore.cards.push(doc);
            },
            addAllToPrint() {
                this.results.forEach(function (result) {
                    cardStore.cards.push(result.doc);
                })
            }
        }
    }
</script>