<template>
    <div class="hidden-print">
        <button class="btn btn-info" @click.prevent="openFileDialog()" name="file" id="file"
                placeholder="CSV Soubor...">
            <i class="fa fa-upload"></i>
            <span v-if="!file"> Nahrajte CSV soubor </span>
            <span v-else> {{file}} </span>
        </button>
        <button type="submit" class="btn btn-succes" :disabled="file == false" @click.prevent="processCsv">Nahrát soubor
        </button>
    </div>
</template>
<script>
    var parse = require('csv-parse');
    var fs = require('fs');
    const electron = window.require('electron');
    const storage = require('electron-json-storage');
    var dialog = electron.remote.dialog;
    import cardStore from '../stores/cardStore'

    const PouchDB = require('pouchdb/dist/pouchdb');
    var db = new PouchDB('cards');

    export default{
        data() {
            return {
                file: false,
                parsedFile: null,
            }
        },
        methods: {
            openFileDialog() {
                var lastPath = storage.get('lastPath', function (err, data) {
                    if (err) {
                        console.error(err);
                        return '~/'
                    }
                    ;

                    return data.lastPath;
                });
                var vm = this;
                dialog.showOpenDialog(null, {
                    title: 'Vyberte CSV soubor',
                    defaultPath: lastPath,
                    filters: [
                        {name: 'CSV', extensions: ['csv']},
                        {name: 'All Files', extensions: ['*']}
                    ],
                    properties: ['openFile']
                }, function (filename) {
                    vm.file = filename[0];
                    storage.set('lastPath', {lastPath: filename[0]}, function (error) {
                        if (error) {
                            console.error(error);
                        }
                    })
                })
            },
            processCsv() {
                var vm = this;
                fs.readFile(vm.file, 'utf8', function (err, data) {
                    if (err) {
                        alert(err);
                    }
                    vm.parsedFile = parse(data, {
                        delimiter: ';',
                    }, function (err, output) {
                        console.log(output);
                        if (err) {
                            console.error(err);
                        }
                        output.shift();
                        vm.parsedFile = output;

                        vm.insertParsed();
                    })
                });
            },
            insertParsed() {
                var objectsToInsert = [];
                this.parsedFile.forEach(function (item) {
                    var data = {
                        _id: item[1],
                        ean: item[1],
                        code: null,
                        amount: null,
                        conversion: null,
                        conversionPrice: null,
                        barCode: null, //bar code in base64
                        unit: null,
                        title: item[0],
                        price: item[9],
                    }
                    objectsToInsert.push(data);
                    cardStore.cards.push(data);
                });
                db.bulkDocs(objectsToInsert).then(function(){
                    console.log(objectsToInsert);
                }, function(error){
                    alert(error);
                });
            }
        }
    }
</script>
